@using EarlySite.Model.Show;
@using EarlySite.Model.Common;
@using EarlySite.Model.Enum;

@{
    ViewBag.Title = "EarlySite | Home";
}

<div class="header-banner">
    <a href="https://www.bilibili.com/blackboard/join-list.html" target="_blank" class="banner-href"></a>

</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="mapContainer" class="row corner" style="height:0px;padding-bottom:20%">
            </div>
        </div>
    </div>
    <div class="row corner">
        <div class="warrper">
            <div class="warrper-header">
                <a class="warrper-header-title efont" href="">今日食</a>
            </div>
            <div class="warrper-body">
                @{
                    Html.RenderPartial("TodayDishPartialView");
                }
            </div>
        </div>


    </div>



    <div class="row corner">

        <div class="warrper">
            <div class="warrper-header">
                <a class="warrper-header-title efont" href="">推荐单品</a>
                <span class="warrper-header-more"><a href="" class="efont">更多</a></span>
            </div>
            <div class="warrper-body">
                @{
                    Html.RenderPartial("PushDishInfoPartialView", (PageList<Dish>)ViewBag.DishList);
                }
            </div>
        </div>

        <div class="warrper">
            <div class="warrper-header">
                <a class="warrper-header-title efont" href="">推荐食谱</a>
                <span class="warrper-header-more"><a href="" class="efont">更多</a></span>
            </div>
            <div class="warrper-body">
                @{
                    Html.RenderPartial("PushRecipesInfoPartialView", (PageList<Recipes>)ViewBag.RecipesList);
                }
            </div>
        </div>
    </div>


</div>

@section scripts
{

    <script src="http://cache.amap.com/lbs/static/es5.min.js"></script>
    <script src="http://webapi.amap.com/maps?v=1.4.3&key=e024f773e61e96be65e2e8a4f0869774&&plugin=AMap.Scale,AMap.OverView,AMap.ToolBar"></script>
    <script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
    <script type="text/javascript">

        var scale = new AMap.Scale({
            visible: false
        }),
            toolBar = new AMap.ToolBar({
                visible: false
            }),
            overView = new AMap.OverView({
                visible: false
            }),
            map = new AMap.Map("mapContainer", {
                resizeEnable: true
            });
        map.addControl(scale);
        map.addControl(toolBar);
        map.addControl(overView);
        var geolocation;

        map.plugin('AMap.Geolocation', function () {
            geolocation = new AMap.Geolocation({
                enableHighAccuracy: true,//是否使用高精度定位，默认:true
                timeout: 10000,          //超过10秒后停止定位，默认：无穷大
                buttonOffset: new AMap.Pixel(-40, -40),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
                zoomToAccuracy: true,      //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
                buttonPosition: 'RB'
            });
            map.addControl(geolocation);
            geolocation.getCurrentPosition();
            AMap.event.addListener(geolocation, 'complete', onComplete);//返回定位信息
            AMap.event.addListener(geolocation, 'error', onError);      //返回定位出错信息
        });
        //解析定位结果
        function onComplete(data) {

            var str = ['定位成功'];
            str.push('经度：' + data.position.getLng());
            str.push('纬度：' + data.position.getLat());
            if (data.accuracy) {
                str.push('精度：' + data.accuracy + ' 米');
            }//如为IP精确定位结果则没有精度信息
            str.push('是否经过偏移：' + (data.isConverted ? '是' : '否'));
            console.log(str);
        }
        //解析定位错误信息
        function onError(data) {
            console.log('定位失败');
        }
        map.on('complete', function () {
            $('.amap-logo').css('visibility', 'hidden');
            $('.amap - copyright').css('visibility', 'hidden');
        });



    </script>

}