@{
    ViewBag.Title = "EarlySite | Home";
}

<div class="row">
    <div class="col-sm-8">
        <div id="mapContainer" class="row corner" style="height:0px;padding-bottom:80%">
        </div>
    </div>

    <div class="col-sm-3 col-sm-offset-1">
        <div class="row corner">
            1
        </div>
        <div class="row corner">
            2
        </div>
    </div>
</div>

@section scripts
{

    <script src="http://cache.amap.com/lbs/static/es5.min.js"></script>
    <script src="http://webapi.amap.com/maps?v=1.4.3&key=e024f773e61e96be65e2e8a4f0869774"></script>
    <script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
    <script type="text/javascript">

        var map;

        $(function () {

            map = new AMap.Map('mapContainer');

            //ToolBar
            map.plugin(['AMap.ToolBar'], function () {
                var tool = new Amap.ToolBar({
                    visible: false
                });
                map.addControl(tool);
                tool.hide();
            });

            //Geolocation
            map.plugin(['AMap.Geolocation'],
                function () {
                    var geolocation = new Amap.Geolocation({
                        enableHighAccuracy: true,//是否使用高精度定位，默认:true
                        timeout: 10000,          //超过10秒后停止定位，默认：无穷大
                        maximumAge: 0,           //定位结果缓存0毫秒，默认：0
                        convert: true,           //自动偏移坐标，偏移后的坐标为高德坐标，默认：true
                        showButton: true,        //显示定位按钮，默认：true
                        buttonPosition: 'LB',    //定位按钮停靠位置，默认：'LB'，左下角
                        buttonOffset: new AMap.Pixel(10, 20),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
                        showMarker: true,        //定位成功后在定位到的位置显示点标记，默认：true
                        showCircle: true,        //定位成功后用圆圈表示定位精度范围，默认：true
                        panToLocation: true,     //定位成功后将定位到的位置作为地图中心点，默认：true
                        zoomToAccuracy: true      //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
                    });
                    map.addControl(new Amap.Geolocation());
                    geolocation.getCurrentPosition();
                });

        });
    </script>

}