@{
    ViewBag.Title = "EarlySite | Home";
}


<div class="row">
    <div class="col-sm-8">
        <div class="row corner">
            <div class="corner-content">
                <div class="corner-title">
                    <span>From:<a href="javascript:void(0)">sss</a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-3 col-sm-offset-1">
        <div class="row corner">
            1
        </div>
    </div>

</div>