@{
    ViewBag.Title = "EarlySite | Home";
}

<div class="row">
    <div class="row">
        <span>title</span>
    </div>
    <div class="row">
        <div class="col-md-2">
            Img
        </div>
        <div class="col-md-10">
            Content:xxxxxxxxxxxxxxxx peroContent:xxxxxxxxxxxxxxxx peroContent:xxxxxxxxxxxxxxxx peroContent:xxxxxxxxxxxxxxxx pero
            Content:xxxxxxxxxxxxxxxx pero
        </div>
    </div>
</div>

<div class="row">
    <div class="row">
        <span>title</span>
    </div>
    <div class="row">
        <div class="col-md-2">
            Img
        </div>
        <div class="col-md-10">
            Content:xxxxxxxxxxxxxxxx peroContent:xxxxxxxxxxxxxxxx peroContent:xxxxxxxxxxxxxxxx peroContent:xxxxxxxxxxxxxxxx pero
            Content:xxxxxxxxxxxxxxxx pero
        </div>
    </div>
</div>