@{
    ViewBag.Title = "EarlySite | Home";
}


<div class="row">
    <div class="col-md-8">
        <div class="row corner">
            <span>titile</span>
            <div class="row">
                111
                内容:
                These is the most of languea<br/>11
            </div>
        </div>
        <div class="row corner">
            <span>titile</span>
            <div class="row">
                2222
            </div>
        </div>
    </div>

    <div class="col-md-4">
        
    </div>

</div>