@using EarlySite.Model.Common;
@using EarlySite.Model.Show;

@model PageList<Recipes>
<div class="row warrper-body-list">
    @{
        if (Model != null && Model.List != null && Model.List.Count > 0)
        {
            for (int i = 0; i < Model.List.Count; i++)
            {
                Recipes recipe = Model.List[i];
                <div class="col-sm-3 warrper-body-list-item">
                    <div class="warrper-body-list-item-pic">
                        <a class="warrper-body-list-item-mask" href="" title=""></a>
                        <img src="~/Pictures/pic-08.jpg" />
                    </div>
                    <div class="warrper-body-list-item-text">
                        <a class="efont" href="">@recipe.Name</a>
                    </div>
                    <div class="efont warrper-body-list-item-bottom">
                        <span class="left m-right">
                            <i class="glyphicon glyphicon-cutlery"></i>
                            @recipe.Description
                        </span>
                        <span class="left">
                            <i class="glyphicon glyphicon-phone"></i>
                            @recipe.Phone
                        </span>
                    </div>
                </div>
            }

        }
        else
        {
            <h4 style="color:#808080">
                暂无推荐菜谱
            </h4>
        }
    }
</div>
