@using EarlySite.Model.Show;
@using EarlySite.Model.Common;

@model PageList<Dish>

<div class="row warrper-body-list">
    @{
        if (Model != null && Model.List != null && Model.List.Count() > 0)
        {

            for (int i = 0; i < Model.List.Count(); i++)
            {
                Dish dish = Model.List[i];
                <div class="col-sm-3 warrper-body-list-item">
                    <div class="warrper-body-list-item-pic">
                        <a class="warrper-body-list-item-mask" href="" title=""></a>
                        <img src="~/Pictures/pic-10.jpg" />
                    </div>
                    <div class="warrper-body-list-item-text">
                        <a class="efont" href="">@dish.Name</a>
                    </div>
                    <div class="efont warrper-body-list-item-bottom">
                        <span class="left m-right">
                            <i class="glyphicon glyphicon-heart"></i>
                            0
                        </span>
                        <span class="left">
                            <i class="glyphicon glyphicon-briefcase"></i>
                            @dish.ShopName
                        </span>
                    </div>
                </div>
            }
        }
        else
        {
            <h2>
                暂无推荐单品
            </h2>
        }
    }
</div>