
@{
    Layout = null;
}

<div class="modal-dialog receipemodal" role="document">
    <div class="Modal-inner">
        <h3 class="Modal-title">创建门店</h3>
        <div class="Modal-subtitle"></div>
        <div class="Modal-content">
            <div class="QuestionAsk">
                <form novalidate="">
                    <!--名称-->
                    <div class="QuestionAsk-section">
                        <div class="QuestionAsk-title">
                            <div class="Popover">
                                <div class="Input-wrapper Input-wrapper--spread Input-wrapper--large">
                                    <input id="generate_recipename" autocomplete="off" class="Input" placeholder="门店名称" value="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--图片设置-->
                    <div class="QuestionAsk-section">
                        <div class="QuestionAsk-sectionHeader">
                            <span class="QuestionAsk-label">封面设置：</span>
                            <div class="QuestionAsk-sectionHeaderRight">
                                <button class="Button Editable-control Button--plain" data-tooltip="上传图片" data-tooltip-position="bottom" type="button" onclick="OpenCoverFileSelect()">
                                    <svg class="Zi Zi--InsertImage" fill="currentColor" viewBox="0 0 24 24" width="24" height="24"><path d="M21 17.444C21 18.3 20.1 19 19 19H5c-1.1 0-2-.7-2-1.556V6.556C3 5.7 3.9 5 5 5h14c1.1 0 2 .7 2 1.556v10.888zm-9.437-3.919a.5.5 0 0 1-.862.013l-1.26-2.065a.5.5 0 0 0-.861.012l-2.153 3.767a.5.5 0 0 0 .435.748h10.292a.5.5 0 0 0 .438-.741L14.573 9.78a.5.5 0 0 0-.872-.006l-2.138 3.75z" fill-rule="evenodd"></path></svg>
                                </button>
                            </div>
                        </div>
                        <div class="Modal-content">
                            <div class="Enditable-picModal-uploader" onclick="OpenCoverFileSelect()">
                                <div class="Enditable-picModal-uploader-icon">
                                    <svg class="Zi Zi--BackToTop" fill="currentColor" viewBox="0 0 24 24" width="70" height="70"><path d="M16.036 19.59a1 1 0 0 1-.997.995H9.032a.996.996 0 0 1-.997-.996v-7.005H5.03c-1.1 0-1.36-.633-.578-1.416L11.33 4.29a1.003 1.003 0 0 1 1.412 0l6.878 6.88c.782.78.523 1.415-.58 1.415h-3.004v7.005z"></path></svg>
                                </div>
                                <div class="Enditable-picModal-uploader-text">选择要上传的图片</div>
                                <div class="Enditable-picModal-uploader-tip">请上传大小不超过2MB的图片，并确保是图片格式</div>
                                <input id="coverpicModaluploader" type="file" name="covermodal" />
                            </div>
                            <div class="UploadpicModal" hidden="hidden">
                                <img id="coverpicshow" class="UploadpicModal-img" alt="图片预览" src="" />
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <!--门店描述-->
                    <div class="QuestionAsk-section">
                        <div class="QuestionAsk-title">
                            <div class="Popover">
                                <div class="Input-wrapper Input-wrapper--spread Input-wrapper--multiline Input-wrapper--large">
                                    <textarea id="generate_des" rows="2" autocomplete="off" class="Input" placeholder="门店描述"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ModalButtonGroup QuestionAsk-buttonGroup ModalButtonGroup--vertical">
                        <button class="Button Button--primary Button--red" type="button" id="recipebtn_commit">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <button type="button" class="Button Button--plain Modal-closeButton" aria-label="关闭" data-dismiss="modal">
        <svg class="modal-closeIcon" fill="#fff" viewBox="0 0 24 24" width="24" height="24"><path d="M13.486 12l5.208-5.207a1.048 1.048 0 0 0-.006-1.483 1.046 1.046 0 0 0-1.482-.005L12 10.514 6.793 5.305a1.048 1.048 0 0 0-1.483.005 1.046 1.046 0 0 0-.005 1.483L10.514 12l-5.208 5.207a1.048 1.048 0 0 0 .006 1.483 1.046 1.046 0 0 0 1.482.005L12 13.486l5.207 5.208a1.048 1.048 0 0 0 1.483-.006 1.046 1.046 0 0 0 .005-1.482L13.486 12z" fill-rule="evenodd"></path></svg>
    </button>

</div><!-- /.modal-dialog -->

<script>
    $(function () {
        //渲染焦点效果
        $('.Input').on('focus', function () {
            $(this).parent().addClass('is-focus');
        });
        $('.Input').on('blur', function () {
            $(this).parent().removeClass('is-focus');
        });



        //图片上传器监听
        $('#coverpicModaluploader').on('change', function (e) {
            var coverfileup = document.querySelector("#coverpicModaluploader").files[0];
            var coverpreview = document.querySelector("#coverpicshow");
            var coverreader = new FileReader();
            //通过FileReader读取图片的数据
            coverreader.addEventListener("load", function () {
                coverpreview.src = coverreader.result;
                $(".receipemodal").find(".Enditable-picModal-uploader").hide();
                $(".receipemodal").find(".UploadpicModal").show();
            }, false);

            if (coverfileup) {
                coverreader.readAsDataURL(coverfileup);
            }
        });

        //提交
        $("#recipebtn_commit").click(function () {

            //数据验证
            var recipename = $('#generate_recipename').val();
            if (recipename == null || recipename == "") {
                toast("请填上食谱的名字！");
                return;
            }

            var coverpic = $('#coverpicshow').attr("src");
            if (coverpic == null || coverpic == "") {
                toast("请上传一张封面图！");
                return;
            }
            var reg = /^data:image\/(jpeg|png|gif);base64,/;
            var result = reg.test(coverpic);
            if (!result) {
                toast("请上传正确格式的图片！");
                return;
            }

            //禁用提交按钮 防止重复提交
            var _this = $(this);
            _this.prop('disabled', true);

            var recipe = {};
            recipe.Name = dishname;
            recipe.Cover = coverpic;
            recipe.Description = $('#generate_des').val();

            $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: '@Url.Action("GenerateRecipe", "Component")',
                    data: {
                        recipe: recipe
                    },
                    success: function (data) {
                        console.log(data);
                        //启用提交按钮
                        _this.prop('disabled', false);
                        if (data.Status) {
                            toast(data.Message);
                            setTimeout(function () {
                                window.location.reload();
                            }, 1000);
                        }
                        else {
                            toast(data.Message);
                        }
                    },
                    error: function (error) {
                        toast("Ajax send error");
                    }
            });
        });
    });

    //打开文件选择
    function OpenCoverFileSelect() {
        $('#coverpicModaluploader')[0].click();
    }

</script>