button {
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
    font-size: 15px;
    color: #262626;
    background: #f3f3f3;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.App-main {
    display: block;
}

.EntrySign-body {
    overflow: hidden;
}

.Input {
    width: 100%;
    border: none;
}

.Card {
    margin-bottom: 10px;
    background: #fff;
    overflow: hidden;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.SignFlowHomepage {
    background-image: url(../../Themes/Images/signback.png);
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: auto;
    padding-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}


.SignFlowHomepage-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 2px;
    min-height: calc(100vh - 42px);
    padding: 54px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.SignFlowHeader {
    padding-top: 30px;
}

.SignFlowHeader-slogen {
    margin-top: 15px;
    color: #4a90e2;
    font-size: 22px;
}

.SignContainer-content {
    width: 432px;
    margin: 0 auto;
    text-align: center;
}

    .SignContainer-content .Input-wrapper {
        width: 100%;
        height: 48px;
        padding: 0;
        color: #8590a6;
        border: none;
        border-bottom: 1px solid #e7eaf1;
        border-radius: 0;
    }

        .SignContainer-content .Input-wrapper.is-focus {
            border: none;
            border-bottom: 1px solid #e7eaf1;
        }

    .SignContainer-content .SignFlow-accountInput.Input-wrapper, .SignContainer-content .SignFlow-accountInput.Input-wrapper.is-focus {
        border: none;
    }

    .SignContainer-content input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px #fff inset;
    }

    .SignContainer-content .SignFlow-captchaContainer:not(.Captcha-chinese), .SignContainer-content .SignFlow-password, .SignContainer-content .SignFlow-username {
        border-bottom: 1px solid #e7eaf1;
    }

        .SignContainer-content .SignFlow-captchaContainer:not(.Captcha-chinese) .Input-wrapper, .SignContainer-content .SignFlow-password .Input-wrapper, .SignContainer-content .SignFlow-username .Input-wrapper {
            border-bottom: none !important;
        }

.SignContainer-inner {
    position: relative;
}


.SignFlowHeader {
    padding-top: 30px;
}

.SignFlowHeader-slogen {
    margin-top: 15px;
    color: #4a90e2;
    font-size: 22px;
}

.SignContainer-content {
    width: 432px;
    margin: 0 auto;
    text-align: center;
}

    .SignContainer-content .Input-wrapper {
        width: 100%;
        height: 48px;
        padding: 0;
        color: #8590a6;
        border: none;
        border-bottom: 1px solid #e7eaf1;
        border-radius: 0;
    }

        .SignContainer-content .Input-wrapper.is-focus {
            border: none;
            border-bottom: 1px solid #e7eaf1;
        }

    .SignContainer-content .SignFlow-accountInput.Input-wrapper, .SignContainer-content .SignFlow-accountInput.Input-wrapper.is-focus {
        border: none;
    }

    .SignContainer-content input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px #fff inset;
    }

    .SignContainer-content .SignFlow-captchaContainer:not(.Captcha-chinese), .SignContainer-content .SignFlow-password, .SignContainer-content .SignFlow-username {
        border-bottom: 1px solid #e7eaf1;
    }

        .SignContainer-content .SignFlow-captchaContainer:not(.Captcha-chinese) .Input-wrapper, .SignContainer-content .SignFlow-password .Input-wrapper, .SignContainer-content .SignFlow-username .Input-wrapper {
            border-bottom: none !important;
        }

.SignContainer-inner {
    position: relative;
}

.Login-content {
    padding: 0 40px 36px;
}

    .Login-content .Login-footer {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        line-height: 25px;
    }

    .Login-content .Login-footer, .Login-options {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

.SignFlow-account {
    margin-top: 16px;
    border-bottom: 1px solid #e7eaf1;
    border-radius: 0
}

.SignFlowInput {
    position: relative
}

    .SignFlowInput .Input-wrapper {
        width: 100%;
        height: 48px;
        padding: 0;
        color: #8590a6
    }

    .SignFlowInput input.Input {
        height: 48px
    }

.SignFlowInput-errorMask {
    position: absolute;
    right: 0;
    height: 90%;
    padding: 12px 0 0 20px;
    margin-top: -47px;
    font-size: 14px;
    color: #f75659;
    text-align: right;
    cursor: text;
    background: #fff;
    opacity: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease
}

    .SignFlowInput-errorMask:before {
        position: absolute;
        top: 0;
        left: -16px;
        width: 16px;
        height: 46px;
        background: -webkit-gradient(linear,left top,right top,from(hsla(0,0%,100%,0)),to(#fff));
        background: linear-gradient(90deg,hsla(0,0%,100%,0),#fff);
        content: ""
    }

.SignFlowInput-errorMask--hidden {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0
}

    .SignFlowInput-errorMask--hidden:before {
        width: 0;
        height: 0;
        overflow: hidden;
        opacity: 0
    }

.SignFlowInput-requiredErrorMask {
    right: auto !important;
    width: 100%;
    padding-left: 0;
    text-align: left
}

    .SignFlowInput-requiredErrorMask:before {
        width: 0;
        height: 0;
        overflow: hidden;
        opacity: 0
    }

.Login-options {
    margin-top: 12px;
    height: 20px;
}


.Button--plain {
    margin-right: 6px;
}

.Login-regist {
    float: left;
    text-align:center;
}

    .Login-regist:hover {
        color: #7a8599
    }

.Login-cannotLogin {
    float: right;
    margin-left:10px
}

    .Login-cannotLogin:hover {
        color: #7a8599
    }

.SignFlow input {
    height: 48px
}

    .SignFlow input::-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px #fff inset !important
    }

    .SignFlow input[type=number] {
        -moz-appearance: textfield
    }

.SignFlow .SignFlow-accountInput, .SignFlow .SignFlow-smsInput {
    width: auto
}

.SignFlow-submitButton {
    width: 100%;
    margin-top: 30px;
    height: 36px
}

.Button {
    display: inline-block;
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    color: #8590a6;
    text-align: center;
    cursor: pointer;
    background: none;
    border: 1px solid #ccd8e1;
    border-radius: 3px
}

    .Button::-moz-focus-inner {
        padding: 0;
        border: 0
    }

    .Button:focus {
        outline: none
    }

    .Button:disabled {
        cursor: default;
        opacity: .5
    }

    .Button:hover {
        background-color: rgba(207,216,230,.1)
    }

        .Button:hover:disabled {
            background-color: transparent;
            background-color: initial
        }

.Button--grey:hover {
    color: #abb6c5;
    border: 1px solid #abb6c5
}

.Button--grey, .Button--grey:disabled {
    color: #c3ccd9;
    border: 1px solid #c3ccd9
}

.Button--blue {
    color: #0f88eb;
    border: 1px solid #0f88eb
}

    .Button--blue:hover {
        background-color: rgba(13,121,209,.06)
    }

    .Button--blue:disabled {
        background-color: transparent;
        background-color: initial
    }

.Button--green {
    color: #11a668;
    border: 1px solid #11a668
}

    .Button--green:hover {
        background-color: rgba(8,166,100,.06)
    }

    .Button--green:disabled {
        background-color: transparent;
        background-color: initial
    }

.Button--red {
    color: #f75659;
    border: 1px solid #f75659
}

    .Button--red:hover {
        background-color: rgba(247,86,89,.06)
    }

    .Button--red:disabled {
        background-color: transparent;
        background-color: initial
    }

.Button--primary.Button--blue {
    color: #fff
}

    .Button--primary.Button--blue:hover {
        background-color: #0d79d1
    }

    .Button--primary.Button--blue, .Button--primary.Button--blue:disabled {
        background: #0f88eb
    }

.Button--primary.Button--green {
    color: #fff;
    border-color: #12b370
}

    .Button--primary.Button--green:hover {
        background-color: #08a369
    }

    .Button--primary.Button--green, .Button--primary.Button--green:disabled {
        background: #12b370
    }

.Button--primary.Button--red {
    color: #fff
}

    .Button--primary.Button--red:hover {
        background-color: #ed4e50
    }

    .Button--primary.Button--red, .Button--primary.Button--red:disabled {
        background: #f75659;
        border-color: #f75659
    }

.Button--primary.Button--grey {
    color: #fff
}

    .Button--primary.Button--grey:hover {
        background: #abb6c5;
        border: 1px solid #abb6c5
    }

    .Button--primary.Button--grey, .Button--primary.Button--grey:disabled {
        background: #c3ccd9;
        border: 1px solid #c3ccd9
    }

.Button--spread {
    width: 100%
}

.Button-icon {
    margin-right: 7px
}

.Button--plain .Button-icon {
    margin-right: 6px
}

.Button--blue .Button-icon, .Button--green .Button-icon, .Button--red .Button-icon {
    fill: currentColor
}

.Button--link, .Button--plain {
    height: auto;
    padding: 0;
    line-height: inherit;
    background-color: transparent;
    border: none;
    border-radius: 0
}

    .Button--link:hover, .Button--plain:hover {
        background-color: transparent
    }

    .Button--plain:hover {
        color: #7a8599
    }

.Button--link {
    color: #175199
}

.Button--withIcon.Button--iconOnly {
    padding: 0 4px
}

.Button--withIcon.Button--link, .Button--withIcon.Button--plain {
    padding: 0
}

.Button--withIcon.Button--withLabel .Button-zi {
    margin-right: 4px
}

.Button--withIcon.Button--plain .Button-zi {
    fill: #9fadc7
}

.Button--withIcon.Button--plain:hover .Button-zi {
    fill: #95a1ba
}
