body {
    padding-top: 65px;
    background-color: #F3F3F3;
}

a {
    text-decoration: none;
    color: black;
}

    a:hover {
        text-decoration: none;
        color: black;
    }

.efont {
    font-family: 'Lato';
    margin: 0;
    padding: 0;
}

.ea {
    color: #000;
    padding-bottom: 5px;
    text-decoration: none;
    border-bottom: 1px #000 dashed;
}

.Icon {
    vertical-align: text-bottom;
    fill: #9fadc7
}

.corner {
    margin-bottom: 10px;
    background: white;
    overflow: hidden;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.corner-content {
    margin-top: 12px;
    font-size: inherit;
    font-style: normal;
    font-weight: 400;
}

.corner-title {
    margin-bottom: 14px;
}

.ProfileHeader {
    position: relative;
    width: 1000px;
    padding: 0 16px;
    margin: 10px auto
}

.ProfileHeader-userCover {
    position: relative;
    width: 100%;
    background: #96A1A9;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 240px;
}

.UserCover {
    position: relative;
    height: 240px;
    overflow: hidden;
    background: #f7f8fa;
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    -webkit-transition: height .3s;
    transition: height .3s
}

.UserCover-image {
    -webkit-transition: -webkit-transform 6s ease-out;
    transition: -webkit-transform 6s ease-out;
    transition: transform 6s ease-out;
    transition: transform 6s ease-out,-webkit-transform 6s ease-out
}

    .UserCover-image, .UserCover-image img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover
    }


.UserCoverEditor {
    position: relative
}

.UserCoverEditor-simpleEditButton {
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1
}

.ProfileHeader-wrapper {
    position: relative;
    width: 100%;
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ProfileHeader-main {
    position: relative;
    margin: 0 20px 24px
}

.ProfileHeader-avatar {
    position: absolute;
    top: -25px;
    left: 0;
    z-index: 1
}

.UserAvatar {
    display: inline-block;
    overflow: hidden;
    border: 4px solid #fff;
    border-radius: 8px
}

.UserAvatar, .UserAvatar-inner {
    vertical-align: top
}

.UserAvatar-holder, .UserAvatar-round {
    width: 160px;
    height: 160px
}

.UserAvatar-round {
    border-radius: 50%
}

.ProfileMain-avatar .Avatar {
    display: block;
    cursor: pointer
}

.ProfileHeader-content {
    padding-top: 16px;
    padding-left: 32px;
    border-left: 164px solid transparent
}

.ProfileHeader-contentHead {
    position: relative;
    padding-right: 106px;
    margin-bottom: 16px
}

    .ProfileHeader-contentHead .Button--plain {
        position: absolute;
        top: 50%;
        right: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%)
    }

        .ProfileHeader-contentHead .Button--plain:hover {
            color: #7a8599
        }

            .ProfileHeader-contentHead .Button--plain:hover .Icon {
                fill: #95a1ba
            }

    .ProfileHeader-contentHead .FollowStatus {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 3px 6px
    }


.ProfileEdit-expandActions {
    bottom: auto
}

.ProfileHeader-title {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.ProfileHeader-name {
    font-size: 26px;
    font-weight: 600;
    font-synthesis: style;
    line-height: 30px
}

.ProfileHeader-contentBody {
    position: relative;
    width: 524px;
    overflow: hidden;
    -webkit-transition: height .3s;
    transition: height .3s
}


.ProfileHeader-info {
    font-size: 14px;
    line-height: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.ProfileHeader-infoItem {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

    .ProfileHeader-infoItem:not(:last-child) {
        margin-bottom: 10px
    }

.ProfileHeader-iconWrapper {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 12px;
    text-align: center
}

.ProfileHeader-contentFooter {
    position: relative;
    padding-top: 8px
}

.ProfileHeader-buttons {
    position: absolute;
    right: 0;
    bottom: 0
}

.ProfileBoard {
    padding: 0 8px;
    text-align: center;
    line-height: 1.6;
    border-left: 1px solid #e7eaf1;
}

    .ProfileBoard a {
        text-decoration: none;
    }

        .ProfileBoard a :hover {
            color: #175199;
        }

.ProfileBoard-title {
    font-size: 16px;
    color: #8590a6
}

.ProfileBoard-number {
    font-size: 16px;
    color: black;
}


.ProfileEdit-fields {
    padding-bottom: 100px;
    margin-top: 10px
}

.Field {
    padding: 30px 0;
    height:97px;
    border-bottom: 1px solid #ebebeb
}

.Field-label {
    position: absolute;
    font-size: 15px;
    font-weight: 600;
    font-synthesis: style;
    line-height: 0px;
    color: #444
}
.Field-content {
    padding: 0 64px 0 140px;
    line-height: 36px;
}

.Field-modify {
    position: absolute;
    margin-left: 16px;
    line-height: inherit;
    transition: opacity .1s
}

.Field-modify-hidden:not(:focus) {
    opacity: 0
}

.DescriptionField-input {
    width: 540px
}

.TextArea {
    padding: 4px 10px;
    font-family: inherit;
    font-size: 14px;
    font-weight: inherit;
    line-height: 26px;
    background: #f6f6f6;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    outline: none;
    box-sizing: border-box;
    transition: background .2s;
    resize: none
}

    .TextArea:focus {
        background: #fff
    }


.Button {
    display: inline-block;
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    color: #8590a6;
    text-align: center;
    cursor: pointer;
    background: none;
    border: 1px solid;
    border-radius: 3px
}

    .Button::-moz-focus-inner {
        padding: 0;
        border: 0
    }

    .Button:focus {
        outline: none
    }

    .Button:disabled {
        cursor: default;
        opacity: .5
    }

html[data-theme=dark] .Button {
    color: #606a80
}

.Button--grey {
    color: #8590a6;
    border-color: #8590a6
}

    .Button--grey:hover:not(:disabled) {
        background-color: rgba(133,144,166,.06)
    }

html[data-theme=dark] .Button--grey:hover:not(:disabled) {
    background-color: rgba(96,106,128,.06)
}

html[data-theme=dark] .Button--grey {
    color: #606a80;
    border-color: #606a80
}

.Button--blue {
    color: #0084ff;
    border-color: #0084ff
}

    .Button--blue:hover:not(:disabled) {
        background-color: rgba(0,132,255,.06)
    }

html[data-theme=dark] .Button--blue:hover:not(:disabled) {
    background-color: rgba(58,118,208,.06)
}

html[data-theme=dark] .Button--blue {
    color: #3a76d0;
    border-color: #3a76d0
}

.Button--green {
    color: #11a668;
    border-color: #11a668
}

    .Button--green:hover:not(:disabled) {
        background-color: rgba(17,166,104,.06)
    }

.Button--red {
    color: #f36;
    border-color: #f36
}

    .Button--red:hover:not(:disabled) {
        background-color: rgba(255,51,102,.06)
    }

html[data-theme=dark] .Button--red:hover:not(:disabled) {
    background-color: rgba(217,33,85,.06)
}

html[data-theme=dark] .Button--red {
    color: #d92155;
    border-color: #d92155
}

.Button--primary.Button--blue {
    color: #fff;
    background-color: #0084ff
}

    .Button--primary.Button--blue:hover:not(:disabled) {
        border-color: #0077e6;
        background-color: #0077e6
    }

html[data-theme=dark] .Button--primary.Button--blue:hover:not(:disabled) {
    border-color: #2f69c1;
    background-color: #2f69c1
}

html[data-theme=dark] .Button--primary.Button--blue {
    color: #ebebeb;
    background-color: #3a76d0
}

.Button--primary.Button--green {
    color: #fff;
    background-color: #12b370
}

    .Button--primary.Button--green:hover:not(:disabled) {
        border-color: #109e63;
        background-color: #109e63 !important
    }

html[data-theme=dark] .Button--primary.Button--green {
    color: #ebebeb
}

.Button--primary.Button--red {
    color: #fff;
    background-color: #f36
}

    .Button--primary.Button--red:hover:not(:disabled) {
        border-color: #ff1a53;
        background-color: #ff1a53
    }

html[data-theme=dark] .Button--primary.Button--red:hover:not(:disabled) {
    border-color: #c31d4c;
    background-color: #c31d4c
}

html[data-theme=dark] .Button--primary.Button--red {
    color: #ebebeb;
    background-color: #d92155
}

.Button--primary.Button--grey {
    color: #fff;
    background-color: #8590a6
}

    .Button--primary.Button--grey:hover:not(:disabled) {
        border-color: #77839c;
        background-color: #77839c
    }

html[data-theme=dark] .Button--primary.Button--grey:hover:not(:disabled) {
    border-color: #565e71;
    background-color: #565e71
}

html[data-theme=dark] .Button--primary.Button--grey {
    color: #ebebeb;
    background-color: #606a80
}

.Button--spread {
    width: 100%
}

.Button-icon {
    margin-right: 7px
}

.Button--plain .Button-icon {
    margin-right: 6px
}

.Button--blue .Button-icon, .Button--green .Button-icon, .Button--red .Button-icon {
    fill: currentColor
}

.Button--link, .Button--plain {
    height: auto;
    padding: 0;
    line-height: inherit;
    background-color: transparent;
    border: none;
    border-radius: 0
}

html[data-theme=dark] .Button--link, html[data-theme=dark] .Button--plain {
    border: none
}

    .Button--plain:hover, html[data-theme=dark] .Button--link:hover, html[data-theme=dark] .Button--plain:hover {
        background-color: transparent;
        background-color: initial
    }

.Button--plain:hover {
    color: #77839c
}

html[data-theme=dark] .Button--plain:hover {
    color: #565e71
}

.Button--link {
    color: #175199
}

    .Button--link:hover {
        background-color: transparent;
        background-color: initial;
        color: #144785
    }

html[data-theme=dark] .Button--link:hover {
    color: #144785
}

html[data-theme=dark] .Button--link {
    color: #175199
}

.Button--withIcon.Button--iconOnly {
    padding: 0 4px
}

.Button--withIcon.Button--link, .Button--withIcon.Button--plain {
    padding: 0
}

.Button--withIcon.Button--withLabel .Button-zi {
    margin-right: 4px
}

.ModifyButton {
    font-size: 15px
}

.ModifyButton-icon {
    margin-right: 4px;
    fill: currentColor
}


#footer {
    *zoom: 1;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
}

.footgap {
    overflow: hidden;
    min-width: 984px;
    padding: 0 20px;
    border-top: 1px solid #e6e6e6;
    background-color: #FFF
}

.footwrapper {
    overflow: hidden;
    width: auto;
    _width: 980px;
    max-width: 1100px;
    min-width: 980px;
    margin: 0 auto;
    padding: 20px 0;
    color: #999;
}

.footerwrapper .footcontent {
    _zoom: 1;
    overflow: hidden;
    padding-bottom: 20px;
    border-bottom: 1px dashed #CCC
}

.footcontent .footsitemap {
    float: left
}

.footsitemap dl {
    float: left;
    padding: 0 30px 0 10px;
    line-height: 22px
}

    .footsitemap dl dt {
        position: relative;
        margin: 0 0 5px;
        font-weight: bold;
        color: #666
    }

    .footsitemap dl a {
        font-size: 12px;
        color: #999
    }

        .footsitemap dl a:hover {
            color: #DB3838;
        }

    .footsitemap dl .hot {
        position: absolute;
        width: 19px;
        height: 11px;
        background: url('//img.xiami.net/res/v3/img/sup_hot.gif') no-repeat
    }

.footcooperation {
    float: right;
    width: 430px
}

    .footcooperation p {
        overflow: hidden;
        background: url('//img.xiami.net/static/img/common/partners_icon.jpg') no-repeat right top
    }

    .footcooperation span {
        float: left;
        margin-right: 10px;
        margin-bottom: 150px;
        padding-top: 15px
    }

    .footcooperation a {
        float: left;
        width: 40px;
        height: 40px;
        margin: 0 0 7px 5px;
        text-decoration: none
    }


.footali_group {
    clear: left;
    overflow: hidden;
    border-top: 1px dashed #CCC;
    border-bottom: 1px dashed #CCC
}

    .footali_group a {
        float: left;
        margin: 10px 0 10px -1px;
        padding: 0 10px;
        border-left: 1px solid #EEE;
        color: #999;
        line-height: 18px;

    }

        .footali_group a :hover {
            color: #DB3838;
        }

.footextra {
    clear: both;
    margin-top: 15px
}

    .footextra .sns {
        float: left;
        text-indent: 10px;
        vertical-align: middle
    }

        .footextra .sns .icon {
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-right: 5px;
            background: url('//img.xiami.net/res/v3/img/sync-ico_v15.gif') no-repeat;
            vertical-align: middle
        }

        .footextra .sns .sina {
            background-position: 0 -16px
        }

        .footextra .sns a:hover .sina {
            background-position: 0 0
        }



.copyright {
    float: right;
    color: #AAA;
    text-align: right
}

    .copyright a {
        color: #AAA
    }

    .copyright strong {
        display: inline-block;
        overflow: hidden;
        width: 117px;
        height: 25px;
        margin-left: 15px;
        background-image: url('//img.xiami.net/res/v3/img/xiami_motto.png');
        text-indent: 100%;
        line-height: 25px;
        vertical-align: middle
    }
