body{
    padding-top:65px;
    background-color:#F3F3F3;
}

.efont {
    font-family: 'Lato';
    margin: 0;
    padding: 0;
}

.ea {
    color: #000;
    padding-bottom: 5px;
    text-decoration: none;
    border-bottom: 1px #000 dashed;
}

.corner {
    margin-bottom: 10px;
    background: white;
    overflow: hidden;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.corner-content{
    margin-top:12px;
    font-size:inherit;
    font-style:normal;
    font-weight:400;
}

.corner-title{
    margin-bottom:14px;
}

.ProfileHeader {
    position: relative;
    width: 1000px;
    padding: 0 16px;
    margin: 10px auto
}
.ProfileHeader-userCover {
    position: relative;
    width: 100%;
    background: #96A1A9;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height:150px;
}

.UserCover {
    position: relative;
    height: 240px;
    overflow: hidden;
    background: #f7f8fa;
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    -webkit-transition: height .3s;
    transition: height .3s
}

.UserCover-image {
    -webkit-transition: -webkit-transform 6s ease-out;
    transition: -webkit-transform 6s ease-out;
    transition: transform 6s ease-out;
    transition: transform 6s ease-out,-webkit-transform 6s ease-out
}

    .UserCover-image, .UserCover-image img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover
    }


.UserCoverEditor {
    position: relative
}
.UserCoverEditor-simpleEditButton {
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1
}

.ProfileHeader-wrapper {
    position: relative;
    width: 100%;
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.ProfileHeader-main {
    position: relative;
    margin: 0 20px 24px
}

.ProfileHeader-avatar {
    position: absolute;
    top: -25px;
    left: 0;
    z-index: 1
}

.UserAvatar {
    display: inline-block;
    overflow: hidden;
    border: 4px solid #fff;
    border-radius: 8px
}

.UserAvatar, .UserAvatar-inner {
    vertical-align: top
}

.UserAvatar-holder, .UserAvatar-round {
    width: 160px;
    height: 160px
}

.UserAvatar-round {
    border-radius: 50%
}

.ProfileMain-avatar .Avatar {
    display: block;
    cursor: pointer
}

.ProfileHeader-content {
    padding-top: 16px;
    padding-left: 32px;
    border-left: 164px solid transparent
}

.ProfileHeader-contentHead {
    position: relative;
    padding-right: 106px;
    margin-bottom: 16px
}

    .ProfileHeader-contentHead .Button--plain {
        position: absolute;
        top: 50%;
        right: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%)
    }

        .ProfileHeader-contentHead .Button--plain:hover {
            color: #7a8599
        }

            .ProfileHeader-contentHead .Button--plain:hover .Icon {
                fill: #95a1ba
            }

    .ProfileHeader-contentHead .FollowStatus {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 3px 6px
    }


.ProfileHeader-title {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
.ProfileHeader-name {
    font-size: 26px;
    font-weight: 600;
    font-synthesis: style;
    line-height: 30px
}

.ProfileHeader-contentBody {
    position: relative;
    width: 524px;
    overflow: hidden;
    -webkit-transition: height .3s;
    transition: height .3s
}


.ProfileHeader-info {
    font-size: 14px;
    line-height: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
.ProfileHeader-infoItem {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

    .ProfileHeader-infoItem:not(:last-child) {
        margin-bottom: 10px
    }

.ProfileHeader-iconWrapper {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 12px;
    text-align: center
}
.ProfileHeader-contentFooter {
    position: relative;
    padding-top: 8px
}