body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.header-banner {
    height: 180px;
    position: relative;
    margin-bottom: 0px;
    margin-top: -15px;
    overflow: hidden;
    background: no-repeat center top;
    background-size: auto 100%;
    width: 100%;
    background: #fff;
    padding: 0px 0px;
    line-height: 1;
    border: 1px solid #ccc;
    -webkit-transition: opacity .5s ease .5s;
    -moz-transition: opacity .5s ease .5s;
    -ms-transition: opacity .5s ease .5s;
    -o-transition: opacity .5s ease .5s;
    transition: opacity .5s ease .5s;
}

.banner-href {
    display: block;
    height: 180px;
    background: no-repeat center top;
    background-size: auto 100%;
    position: absolute;
    z-index: 1;
    width: 100%;
}

.banner-href {
    background-image: url(http://imgs.aixifan.com/cms/2018_03_12/1520851326758.jpg);
}

@media screen and (max-width:1280px) {
    .banner-href {
        background-image: url(http://imgs.aixifan.com/cms/2018_03_12/1520851333603.jpg);
    }
}

.warrper {
    margin: 0px;
    padding: 20px 20px 40px;
    clear: both;
}

.warrper-header {
    margin: 0px;
    padding: 0px;
    height: 30px;
    line-height: 22px;
    border-bottom: 3px solid #db3838;
}

.warrper-header-title {
    font-size: 22px;
}

.warrper-header-more {
    float: right;
    font-size: 12px;
}

    .warrper-header-more a:hover {
        text-decoration: underline;
    }

.warrper-body {
    margin: 0px;
    padding: 0px;
    height: auto;
    min-height: 60px;
    border-bottom: 1px solid #cccbd4;
}

.warrper-body-list {
    padding:20px;
}

.warrper-body-list-item {
    margin:0;
    padding:20px;
    height:200px;
}
.warrper-body-list-item-mask {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}
.warrper-body-list-item-bottom {
    position: relative;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    background-color:gray;
}
.warrper-body-list-item-des {
    margin: 0px 0 20px;
    font-size: 14px;
}