@model EarlySite.SModel.Result<Exception>

@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EarlySite 丨 404 NotFound</title>
    <style type="text/css">

        <!--
        * {
            font-family: 'Lato';
            margin: 0;
            padding: 0;
        }

        html, body {
            width: 100%;
            height: 100%;
            text-align: center;
            letter-spacing: 0.2rem;
        }

        #container {
            width: 100%;
            position: absolute;
            top: 50%;
            -webkit-transform: translate(0,-50%);
            -ms-transform: translate(0,-50%);
            transform: translate(0,-50%);
            z-index: 1;
        }

        h1 {
            font-size: 1.5rem;
            font-size: calc(1.2rem + 2vmin);
            font-weight: normal;
        }

        #bar {
            border-bottom: solid 1px #000;
            width: 0;
            margin-top: 10px;
        }

        p {
            font-size: 0.9rem;
            margin-top: 10px;
        }

        a {
            color: #000;
            padding-bottom: 5px;
            text-decoration: none;
            border-bottom: 1px #000 dashed;
        }
        -->
    </style>
</head>
<body>
    <div id="container">
        <h1>404 Not Found</h1>
        <div id="bar" style="width:0%"></div>
        <p>
            Redirect to <a href="@Url.Action("Index","Home")">top page</a>.
        </p>
    </div>
    @Scripts.Render("~/Themes/assembly/jquery")
    <script type="text/javascript">
        var redirectTime = 0;
        var interval = 0;
        function showBar() {

            if (redirectTime < 1000) {
                var parentWidth = $('#container').width();
                var currentBarWidth = parentWidth * (redirectTime / 1000);
                $("#bar").width(currentBarWidth);
                redirectTime += 2;
                
            }
            else {
                clearInterval(interval);
                var parentWidth = $('#container').width();
                $("#bar").width(parentWidth);
                window.location.href = "@Url.Action("Index", "Home")";
            }
        }
        $(function () {
             interval = setInterval(() => { showBar(); }, 2);
        });

    </script>
</body>
</html>