@using EarlySite.Model.Show

@{
    ViewBag.Title = ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-sm-12">
        <div class="row corner">
            <div class="ProfileHeader-userCover"></div>

            <div class="ProfileHeader-wrapper">
                <div class="ProfileHeader-main">
                    <!--左边头像-->
                    <div class="ProfileHeader-avatar">
                        <div class="UserAvatar">
                            <img class="Avatar UserAvatar-inner" src="data:image/png;base64,@(ViewBag.Account != null?ViewBag.Account.Avator:"")" width="160" height="160">
                        </div>
                    </div>

                    <!--右边资料-->
                    <div class="ProfileHeader-content">
                        <div class="ProfileHeader-contentHead">
                            <h1 class="ProfileHeader-title">
                                <span class="ProfileHeader-name">@(ViewBag.Account != null ? ViewBag.Account.NickName : "")</span>
                            </h1>
                        </div>
                        <div class="ProfileHeader-contentBody" style="height:52px">

                        </div>

                        <div class="ProfileHeader-contentFooter"></div>
                    </div>
                </div>
            </div>

            <!--
            <div class="description-back"></div>
            <div class="description-content">
                <div class="description-head">
                    <img class="avator" width="149" height="149" src="data:image/png;base64,"/>
                </div>

            </div>-->
        </div>
    </div>


</div>