@using EarlySite.Model.Show;
@using EarlySite.Model.Common;

@model IList<Recipes>


<div class="warrper">
    <div class="warrper-header">
        <a class="warrper-header-title efont" href="">我的食谱</a>
        <span class="warrper-header-more">拥有 @Model.Count 本个人食谱</span>
    </div>
    <div class="warrper-body">
        <div class="row warrper-body-list">
            <ul class="boxlist">
                <li class="boxlist-item">
                    <div class="boxlist-item_box">
                        <div class="boxlist-cover">
                            <a class="boxlist-a" href="javascript:alert(1)">
                                <img class="boxlist-pic" src="~/Pictures/DontLike.jpg" alt="xxx" />
                            </a>
                        </div>
                        <div class="boxlist-title">
                            <span class="boxlist-title-txt">
                                <a class="boxlist-a" href="javascript:alert(1)" title="Demo1">不爱我就拉倒</a>
                            </span>
                        </div>
                        <div class="boxlist-user" title="周杰伦">
                            <a class="boxlist-a" href="">周杰伦</a>
                        </div>
                        <div class="boxlist-other">2018-06-07</div>
                    </div>
                </li>
                <li class="boxlist-item">
                    <div class="boxlist-item_box">
                        <div class="boxlist-cover">
                            <a class="boxlist-a" href="javascript:alert(1)">
                                <img class="boxlist-pic" src="~/Pictures/DontLike.jpg" alt="xxx" />
                            </a>
                        </div>
                        <div class="boxlist-title">
                            <span class="boxlist-title-txt">
                                <a class="boxlist-a" href="javascript:alert(1)" title="Demo1">不爱我就拉倒</a>
                            </span>
                        </div>
                        <div class="boxlist-user" title="周杰伦">
                            <a class="boxlist-a" href="">周杰伦</a>
                        </div>
                        <div class="boxlist-other">2018-06-07</div>
                    </div>
                </li>
                <li class="boxlist-item">
                    <div class="boxlist-item_box">
                        <div class="boxlist-cover">
                            <a class="boxlist-a" href="javascript:alert(1)">
                                <img class="boxlist-pic" src="~/Pictures/DontLike.jpg" alt="xxx" />
                            </a>
                        </div>
                        <div class="boxlist-title">
                            <span class="boxlist-title-txt">
                                <a class="boxlist-a" href="javascript:alert(1)" title="Demo1">不爱我就拉倒</a>
                            </span>
                        </div>
                        <div class="boxlist-user" title="周杰伦">
                            <a class="boxlist-a" href="">周杰伦</a>
                        </div>
                        <div class="boxlist-other">2018-06-07</div>
                    </div>
                </li>
                <li class="boxlist-item">
                    <div class="boxlist-item_box">
                        <div class="boxlist-cover">
                            <a class="boxlist-a" href="javascript:alert(1)">
                                <img class="boxlist-pic" src="~/Pictures/DontLike.jpg" alt="xxx" />
                            </a>
                        </div>
                        <div class="boxlist-title">
                            <span class="boxlist-title-txt">
                                <a class="boxlist-a" href="javascript:alert(1)" title="Demo1">不爱我就拉倒</a>
                            </span>
                        </div>
                        <div class="boxlist-user" title="周杰伦">
                            <a class="boxlist-a" href="">周杰伦</a>
                        </div>
                        <div class="boxlist-other">2018-06-07</div>
                    </div>
                </li>
                <li class="boxlist-item">
                    <div class="boxlist-item_box">
                        <div class="boxlist-cover">
                            <a class="boxlist-a" href="javascript:alert(1)">
                                <img class="boxlist-pic" src="~/Pictures/DontLike.jpg" alt="xxx" />
                            </a>
                        </div>
                        <div class="boxlist-title">
                            <span class="boxlist-title-txt">
                                <a class="boxlist-a" href="javascript:alert(1)" title="Demo1">不爱我就拉倒</a>
                            </span>
                        </div>
                        <div class="boxlist-user" title="周杰伦">
                            <a class="boxlist-a" href="">周杰伦</a>
                        </div>
                        <div class="boxlist-other">2018-06-07</div>
                    </div>
                </li>
                <li class="boxlist-item">
                    <div class="boxlist-item_box">
                        <div class="boxlist-cover">
                            <a class="boxlist-a" href="javascript:alert(1)">
                                <img class="boxlist-pic" src="~/Pictures/DontLike.jpg" alt="xxx" />
                            </a>
                        </div>
                        <div class="boxlist-title">
                            <span class="boxlist-title-txt">
                                <a class="boxlist-a" href="javascript:alert(1)" title="Demo1">不爱我就拉倒</a>
                            </span>
                        </div>
                        <div class="boxlist-user" title="周杰伦">
                            <a class="boxlist-a" href="">周杰伦</a>
                        </div>
                        <div class="boxlist-other">2018-06-07</div>
                    </div>
                </li>
            </ul>


        </div>


    </div>
</div>
