
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LognIn -EearlySite</title>
    <link href="~/Themes/Style/AccountLogin.css" rel="stylesheet" />
</head>
<body class="EntrySign-body">
    <div class="App-main">
        <div class="SignFlowHomepage">
            <div class="SignFlowHomepage-content">
                <div class="Card SignContainer-content">
                    <div class="SignFlowHeader" style="padding-bottom:5px">
                        <div class="SignFlowHeader-slogen">
                            登录Earlysite,发现更大的世界
                        </div>
                    </div>
                    <div class="SignContainer-inner">
                        <div class="Login-content">
                            <form id="loginform">
                                <div class="SignFlow-account">
                                    <div class="SignFlowInput">
                                        <div class="SignFlow-accountInput Input-wrapper">
                                            <input id="usernameinput" value="" name="username" class="Input" placeholder="手机号或邮箱" data-reactid="26" type="text">
                                        </div>
                                        <div id="usernameerrormask" class="SignFlowInput-errorMask SignFlowInput-requiredErrorMask">请输入手机号码</div>
                                    </div>
                                </div>

                                <div class="SignFlow-password">
                                    <div class="SignFlowInput">
                                        <div class="SignFlow-accountInput Input-wrapper">
                                            <input id="passwordinput" value="" name="username" class="Input" placeholder="密码" data-reactid="26" type="password">
                                        </div>
                                        <div id="passworderrormask" class="SignFlowInput-errorMask SignFlowInput-requiredErrorMask">请输入密码</div>
                                    </div>
                                </div>

                                <div class="Login-options">
                                    <button class="Button Login-cannotLogin Button--plain">忘记密码?</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/Themes/assembly/jquery")
    @Scripts.Render("~/Themes/assembly/bootstrap")
    @Scripts.Render("~/Themes/Scripts")
    <script type="text/javascript">


        $(function () {
            $("#usernameerrormask").hide();
            $("#passworderrormask").hide();

        });

        $('#usernameerrormask').click(function () {
            $('#usernameerrormask').hide(300);
            $('#usernameinput').click();
        });

        $('#usernameinput').blur(function () {
            var inputtext = $('#usernameinput').val();
            if (inputtext == null || inputtext == "" || inputtext == undefined) {
                $('#usernameerrormask').show(300);
            }
        });

        $('#passworderrormask').click(function () {
            $('#passworderrormask').hide(300);
            $('#passwordinput').click();
        });

        $('#passwordinput').blur(function () {
            var inputtext = $('#passwordinput').val();
            if (inputtext == null || inputtext == "" || inputtext == undefined) {
                $('#passworderrormask').show(300);
            }
        });

        

        
    </script>
</body>
</html>
