@{
    ViewBag.Title = "发现";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="row corner">
                <div class="QuickButtonSpan">
                    <div class="QuickButtonSpan-nav">
                        <a class="QuickButtonSpan-navItem" href="" target="_blank" title="分享单品">
                            分享单品
                        </a>
                        <a class="QuickButtonSpan-navItem" href="" target="_blank" title="创建食谱">
                            创建食谱
                        </a>

                    </div>

                </div>
            </div>
        </div>
    </div>


</div>