@using EarlySite.Model.Show;
@using EarlySite.Model.Common;
@model Recipes
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="mod_data">
            <span class="data__cover">
                <img id="recipeImg" class="data__photo" src=""/>
                <i class="data__cover_mask"></i>
            </span>
            <div class="data__cont">
                <div class="data__name">
                    <h1 class="data__name_txt" title="@Model.Name">@Model.Name</h1>
                </div>
                <div class="data__singer">
                    <i class="icon_singer sprite"></i>
                    <a class="data__singer_txt" href="" >xxx</a>
                </div>
                
            </div>
        </div>

    </div>
</div>


<script>

</script>
